@use './vars.scss';

.node__renderer__root {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --translate-x: 0px;
  --translate-y: 0px;
  --zoom-factor: 1;
}

.node__cards__root {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: visible;
  transform: scale(var(--zoom-factor));
  transform-origin: center center;
}

.node__card__root {
  --x-pos: 0px;
  --y-pos: 0px;
  --x-translated: calc(var(--x-pos) + var(--translate-x));
  --y-translated: calc(var(--y-pos) + var(--translate-y));
  --x-center-coef: calc((50vw / var(--x-translated)));
  --y-center-coef: calc((50vh / var(--y-translated)));
  position: absolute;
  border: 1px solid var(--dark-grey);
  border-radius: var(--unit-h);
  background-color: var(--off-black);
  min-width: 200px;
  width: 200px;
  max-width: 200px;
  transform-origin: center center;
  transform: translate(var(--x-translated), var(--y-translated));
  z-index: 1;
  font-size: var(--unit);

  &.node__card__highlight {
    outline: 1px solid var(--light-grey);
  }
}

.node__card__root {
  user-select: none;
}

.node__card__header {
  --bg: var(--dark-grey);
  border-top-left-radius: var(--unit-h);
  border-top-right-radius: var(--unit-h);
  padding: var(--unit);
  padding-right: calc(var(--unit) * 0.75);
  background: var(--bg);
  color: var(--white);
  pointer-events: all;
  height: 40px;
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -1px;
  margin-bottom: 0;

  &.node__category__value {
    @include vars.type-var(--bg);
  }

  .node__card__title {
    @include vars.node-title;
    pointer-events: none;
  }

  &.node__category__runtime {
    --bg: var(--white);

    .node__card__title {
      color: var(--off-black);
    }

    svg path {
      fill: var(--off-black);
    }
  }

  &.node__category__logic {
    --bg: var(--white-50);
  }

  .node__help__button {
    opacity: 0.5;

    &:focus {
      outline: none;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.node__io__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--unit) 0;
}

.node__io,
.node__io__row {
  list-style-type: none;
  padding: 0;
}

.node__io__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--unit-h);
  pointer-events: all;
  padding: var(--unit-h) calc(var(--unit) * 1.5);
  margin: 0 calc(var(--unit-h) * -1 - 1px);
  height: var(--io-row-height);
  position: relative;

  @include vars.type-var(--type);

  .node__io__row__container {
    flex-grow: 1;
    padding: var(--unit-hh);
    border-radius: 2px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &.node__io__output {
    justify-content: flex-end;
    //margin-right: var(--unit-n);
    //margin-left: var(--unit-hh);

    &.node__io__editable .node__io__row__container {
      justify-content: space-between;
    }

    .node__io__indicator {
      right: 0;
    }
  }

  &.node__io__input {
    justify-content: flex-start;
    //margin-left: var(--unit-n);
    //margin-right: var(--unit-h);
    .node__io__indicator {
      left: 0;
    }
  }

  &:hover .node__io__indicator:not(.node__io__connected) {
    border-width: 3px;
  }

  &.node__io__editable:not(.node__type__boolean):not(.node__type__object):not(.node__type__array):not(.node__io__connected.node__io__input)
    .node__io__row__container {
    background: var(--dark-grey);

    &:hover {
      background: var(--medium-grey);
    }
  }

  &.node__io__output:not(.node__io__editable) .node__io__row__container {
    justify-content: flex-end;
  }
}

.node__io__indicator {
  height: var(--unit);
  width: var(--unit);
  min-width: var(--unit);
  min-height: var(--unit);
  border: 1px solid var(--type);
  border-radius: var(--unit-h);
  background: var(--off-black);
  z-index: 11;
  position: absolute;

  &.node__io__connected {
    background-color: var(--type);
    transform: translateZ(0);
  }

  &.node__io__connection__pending {
    border-width: 3px;
  }

  &.node__io__multi {
    height: var(--unit-d);
  }

  @include vars.type-var(--type);
}

.node__io__name {
  @include vars.node-io-name;
  white-space: nowrap;
}

.node__io__name,
.node__io__indicator {
  pointer-events: none;
}

.node__io__text__input {
  display: block;
  border: none;
  background: none;
  padding: 0;
  height: 100%;
  min-width: 0;
  width: 100%;
  flex: 1;
  text-align: right;
  @include vars.node-io-value;

  &:focus {
    outline: none;
    color: var(--light-grey);
  }
}

.node__svg__root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100px;
  min-height: 100px;
  pointer-events: none;
}

.node__svg__root path {
  z-index: 10;
}
