@use './vars.scss'

.ui__root
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  height: 100%
  width: 100%
  pointer-events: none

.ui__panel
  background: var(--off-black)
  position: fixed
  top: 0
  bottom: 0
  height: 100%
  width: auto
  min-width: 200px
  z-index: 100
  pointer-events: all

  &.ui__panel__left
    left: 0

  &.ui__panel__right
    right: 0

  .ui__panel__tab__container
    height: 100%
    @include vars.flex-column(var(--unit-d))

  .ui__panel__header
    width: 100%
    background: var(--black)
    height: min-content

  .ui__panel__tab__bar
    @include vars.flex-row(flex-start, baseline)

  .ui__panel__tab__button
    background: var(--black)
    padding: var(--unit) var(--unit-d)
    @include vars.tab-title

    &.ui__panel__tab__button__active
      background: var(--off-black)
      color: var(--white)
      text-decoration: underline

  .ui__panel__body
    flex-grow: 1
    width: 100%
    padding: 0 var(--unit)
    padding-bottom: var(--unit-d)
    overflow-y: auto
    @include vars.flex-column(var(--unit))


.ui__panel__card
  background: var(--black)
  padding: var(--unit)
  padding-bottom: var(--unit-d)
  border-radius: calc(var(--unit) * 0.75)
  width: 100%
  @include vars.flex-column(var(--unit-d))

  .ui__panel__card__header
    @include vars.flex-row('flex-start')
    gap: var(--unit-h)

  .ui__panel__card__title
    @include vars.node-category-title

  .ui__panel__card__indicator
    position: relative

  .ui__panel__card__list
    @include vars.flex-column(var(--unit))
    width: 100%


.ui__panel__nodes__category

  .ui__panel__nodes__category__header
    @include vars.flex-row()


  .ui__node__create__card__root
    @include vars.flex-column(0)
    width: 100%
    --bg: var(--dark-grey)
    border: 1px solid var(--bg)
    border-radius: var(--unit-h)
    overflow: hidden

    &.node__category__value
      @include vars.type-var(--bg)

    &.node__type__logic
      --bg: var(--white-50)

    &.node__category__output.node__type__runtime
      --bg: var(--white)

      h3
        color: var(--off-black)

      svg path
        fill: var(--off-black)

    .ui__node__create__card__button
      @include vars.flex-row()
      gap: var(--unit)
      background: var(--bg)
      width: 100%
      padding: calc(var(--unit) - 1px)
      padding-right: calc(var(--unit) * 0.75 - 1px)
      height: 30px

      h3
        @include vars.node-title()

      svg
        path
          fill-opacity: 0.5

        &:hover path
          fill-opacity: 1


.ui__panel__search__root
  width: 100%
  @include vars.flex-row()
  gap: var(--unit-h)
  padding: 0 var(--unit)

  .ui__panel__search__button
    font-family: var(--f-sans)
    font-size: var(--unit)
    font-weight: 700
    border-radius: var(--unit-h)
    background: var(--black--pure)
    color: var(--white)
    padding: var(--unit)

  .ui__panel__search__input
    background: var(--black)
    border-radius: var(--unit-h)
    padding: var(--unit)
    flex-grow: 1
    height: 100%
    @include vars.node-io-value

.ui__output__row
  @include vars.flex-row(flex-start, baseline)
  gap: var(--unit)
  width: 100%

  .ui__output__row__name, .ui__output__row__value
    @include vars.font-code

  .ui__output__row__name
    color: var(--white-50)

  .ui__output__row__value
    @include vars.text-type-var()
    color: var(--type)